//背景カラー
/*body {
      background:linear-gradient(0deg, #d3e4f9b3 50%, #eef2ce 80%, #bbefffde 90%, #d3f9f2e0 100%);
    }*/
.background{
    background-image: url('/img/paper_light_cya-min.jpg');
    width: 100%;
    background-repeat: round;
    overflow: hidden;
}
//profile
$bg-color:#ffc1076b;
$effect-coloer:#03a9f48a;